body {
    background: url('imgs/homepageBackground.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.navbar-brand img {
    max-height: 15vh;
    max-width: 20vw;
}
@media (max-width: 576px) {
    .navbar-brand img {
        max-width: 200px;
        max-height: 50px;
    }
}

.jumbotron {
    background: transparent;
    position: absolute;
    top: 15%;
    right: 5%;
    color: white;
    font-style:italic;
    z-index: -1;
}

.jumbotron h1 {
    font-size: 5rem;
    font-weight: 900 !important;
}

@media (max-width: 950px) {
    .jumbotron h1 {
        font-size: 4rem;
    }
}

@media (max-width: 700px) {
    .jumbotron h1 {
        font-size: 3rem;
    }
}

.jumbotron h1:nth-child(2) {
    margin-left: 5vw;
}

@media (max-width: 576px) {
    .jumbotron {
        top: 20%;
        left: 0;
    }
}

@media (max-width: 412px) {
    .jumbotron h1:nth-child(2) {
        margin-left: 0;
    }
}
/* 
#mainNav {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.8);
} */

#mobileBrand {
    margin-bottom: 0;
}

.nav-item {
    font-weight: 900 !important;
}

#cragImg {
    float: right;
    margin-right: 2vw;
    max-height: 50vh;
    max-width: 40vw;
}

.card-body {
    float: left !important;
}